.container
 
{ 
     max-width: 1200px;
        margin: 0 auto;
    padding: 0 40px;
     overflow: hidden;
    }
    .flex{
         display: flex;
         align-items: center;
         justify-content: center;
    }